
.intergrations > * {
    height: 40svh;
    width: 100%;
    background: #94d7e782;
}

.centering > * {
    grid-column: 1 / -1;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.top-intergration-buttons {
    grid-column: 1 / -1;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}
.top-intergration-buttons > * {
    background-color: cyan;
}